<div class="writings-wrapper">
  <div class="masonry">
    <% @writings.each do |writing| %>
      <%= link_to  writing_path(writing) do %>
        <div class="item">
          <%= cl_image_tag(writing.cover.key) %>
          <h2><%= writing.title  %></h2>
          <p><%= writing.tagline.truncate(100, ommission: "... (read more)")  %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
