<div class="writings-wrapper">
  <div class="masonry">
    <% @writings.each do |writing| %>
      <%= link_to  writing_path(writing) do %>
        <div class="item">
          <img src="https://source.unsplash.com/random" alt="">
          <h2><%= writing.title  %></h2>
          <p><%= writing.tagline.truncate(100, ommission: "... (read more)")  %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .masonry { /* Masonry container */
    width: 70%;
    margin: 0 auto;
    column-count: 3;
    column-gap: 2rem;
  }

  .item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1rem;
    width: 100%;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
</style>
