h1 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 800 !important;
}

h2 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 600 !important;
  margin: 0 !important;
  // line-height: 1 !important;
}

ul, p {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400 !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

img {
  /* max-height: 450px; */
  width: 100%;
  object-fit: cover;
}
