#cv-downloader {
  color: red;
  text-decoration: underline !important;
}

.statement img {
  width: 300px;
  object-fit: cover;
  align-self: flex-end;
  margin: 3rem 0 6rem 0;
}

.statement {
  padding: 0 10%;
  margin-top: 3rem;
}
