.writings-wrapper {
  background-color: white;
  min-height: 100vh;
}

.work-text {
  font-weight: bold;
  text-transform: uppercase;
}

.work-date, .work-text {
  line-height: 1;
  // padding-top: 4px;
  font-size: 0.75rem;
}

.work-date {
  color: darkgray;
}
