<footer class="home_footer">
  <p class="footer_quote">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nam maiores officiis laudantium eaque odit ut cupiditate! Tempore ex corrupti voluptate incidunt, sit facere molestiae, eius veritatis a eveniet vel!
    Similique non sunt minima a neque omnis in facilis excepturi ducimus quaerat ratione dicta commodi quasi saepe eius libero, esse rem porro vero rerum laudantium ullam delectus! Enim, inventore distinctio!
    Sit animi, veritatis possimus voluptates repellat magnam alias tenetur enim beatae dignissimos officia, vitae nesciunt ratione illo expedita hic aut debitis labore unde. Aut praesentium non deleniti obcaecati ullam molestias!
  </p>
</footer>
