<nav class="navbar navbar_main_styles">
  <div class="nav_content">
    <h1>ANTOINE CHAMPENOIS</h1>
    <ul class="nav_links d-flex">
      <li><%= link_to  "WRITINGS", writings_path %></li>
      <li><%= link_to  "ABOUT", about_path %></li>
      <li><%= link_to  "CONTACT", contact_path %></li>
    </ul>
  </div>
</nav>
