<div class="d-flex justify-content-center align-items-center">
  <div class="statement container d-flex flex-column">

    <% if @bio %>
      <%= @bio %>
    <% end %>

    <% if @cv %>
      <a id="link-red" target="_blank" href="<%= cl_image_path @cv %>">Download my cv</a>
    <% end %>

    <br>

    <% if @avatar %>
      <%= cl_image_tag(@avatar, alt: "portrait of Antoine Champenois") %>
    <% end %>

  </div>
</div>

<%= render  "shared/footer" %>
