.card-product {
  overflow: hidden;
  min-height: 200px;
  background: white;
  display: flex;
  border-top: 1px solid #dee2e6;
}

.dasboard_card_icons > a:first-child {
   margin-right: 1rem;
}

.ol-kill-padding {
  padding-left: 0 !important;
}

.card-product img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding: 1rem 0 1rem 1rem;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black !important;
}

.card-product p {
  color: grey !important;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .card-product img {
      width: 120px;
    }
}
