.home_footer {
  position: fixed;
  bottom: 0px;
  width: 150%;
  right: 0;
  white-space: nowrap;
  background-color: white;
}

.footer_quote {
  padding: 1rem;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400 !important;
  margin-bottom: 0;
}
