.masonry,
.masonry-grid {
  /* Masonry container */
  column-count: 3;
  column-gap: 2rem;

  li {
    list-style: none;
  }
}

.masonry {
  width: 70%;
  margin: 0 auto;
}

.masonry-grid {
  width: 100%;
}


.grid-item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;
}

ul {
  padding: 0;
}

.item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;

  h2 {
    text-transform: uppercase;
  }

  p {
    text-transform: uppercase;
  }
}

.masonry-col-2 {
  column-count: 2 !important;
}

@media screen and (max-width: 1400px) {
  .masonry{
    /* Masonry container */
    width: 85%;
    column-count: 2;
  }

  .masonry-grid {
    /* Masonry container */
      width: 65%;
      column-count: 2;
  }
}

@media screen and (max-width: 800px) {
  .masonry {
    /* Masonry container */
    width: 90%;
    column-count: 1;
  }

  .masonry-grid {
    width: 100%;
  }

  .masonry-col-2 {
    column-count: 1 !important;
  }
}
